body {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
    color: #333;
    background: #eee;
    overflow-x: hidden;
}

.columns {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    min-width: 80em;
    width: 80vw;
    max-width: 100vw;
}
.left, .right {
    position: relative;
    box-sizing: border-box;
}
.left {
    flex: 2;
}
.right {
    flex: 1;
    padding: 0 2em;
    max-width: 30em;
}

pre {
    background: #f4f4f4;
    padding: 1em;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: pre-wrap;
}

canvas {
    margin: 0 auto;
    width: min(100%, 100vh);
    aspect-ratio: 1 / 1;
    background: #f4f4f4;
}
canvas:focus {
    outline: 0;
}

fieldset {
    margin-bottom: 1em;
}

dl {
    display: flex;
    flex-wrap: wrap;
}
dt {
    width: 33%;
}
dd {
    margin-left: auto;
    width: 66%;
}

dt,
dd {
    margin-bottom: 0.5em;
}

dl small {
    width: 100%;
    margin-bottom: 1em;
}
